---
title: null program
layout: default
---

{% for post in site.posts limit: 8 %}
<article>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
    {{ post.date | date: "%B %d, %Y" }}
  </time>
  <div class="print-only url">
    nullprogram.com{{post.url}}
  </div>

  {{ post.content }}

  <ul class="tags">
    {% for tag in post.tags %}
    <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  <div class="commentlink">
    <a href="{{ post.url }}#disqus_thread"
       data-disqus-identifier="{{ post.url }}">? Comments</a>
  </div>
</article>
{% endfor %}
