<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} &laquo; null program</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="alternate" type="application/atom+xml" href="/feed/"/>
    <link rel="stylesheet" href="/css/main.css" class="theme"/>
    <link rel="stylesheet" href="/css/print.css" class="theme"/>
    <link rel="stylesheet" href="/css/syntax.css" class="theme"/>

    <!-- Scripts -->
    <script src="/script/ga.js" defer></script>
    <script>
      window.addEventListener('load', function() {
          var addr = 'wellons\u0040nullprogram\u002ecom';
          var email = document.getElementById('email');
          email.href = 'mailto:' + addr;
          email.textContent = addr;
      });
    </script>
  </head>
  <body>

    <main>
    {{ content }}
    </main>

    <header>
      <div class="container">
        <img class="portrait" src="/img/avatar.jpg" alt=""/>
        <h1><a href="/">null program</a></h1>
        <h2>Chris Wellons</h2>
        <address>
          <a id="email" href=""></a>
          (<a href="/download/Christopher-Wellons.asc">PGP</a>)
        </address>
        <nav>
          <ul>
            <li class="index"><a href="/index/">Index</a></li>
            <li class="tags"><a href="/tags/">Categories</a></li>
            <li class="toys"><a href="/toys/">Showcase</a></li>
            <li class="github"><a href="http://github.com/skeeto">GitHub</a></li>
            <li class="feed"><a href="/feed/">Feed</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <footer>
      <p>
        All information on this blog, unless otherwise noted, is
        hereby released into the public domain, with no rights
        reserved.
      </p>
    </footer>

    <!-- Disqus -->
    <script>
      var disqus_shortname = 'nullprogram';
    </script>
    <script src="/script/disqus-count.js"></script>
    <!-- End Disqus -->

  </body>
</html>
