---
layout: default
---

<article>
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
    {{ page.date | date: "%B %d, %Y" }}
  </time>
  <div class="print-only url">
    nullprogram.com{{page.url}}
  </div>

  {{ content }}

  <ul class="tags">
    {% for tag in page.tags %}
    <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  </div>

  <!-- Disqus -->
  <div class="no-print">
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = 'nullprogram';
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
  </script>
  <script src="/script/disqus.js"></script>
  <noscript>
    Please enable JavaScript to view
    the <a href="http://disqus.com/?ref_noscript">comments powered by
      Disqus.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">
    blog comments powered by <span class="logo-disqus">Disqus</span>
  </a>
  </div>
  <!-- End Disqus-->

</article>
